#mainPanel {
    -fx-background-color: linear-gradient(to right top, #5ec2b8, #55ccc2, #49d6cd, #37e1d8, #12ebe4);
}

.textField {
    -fx-padding: 10px;
    -fx-background-radius: 25px;
    -fx-background-color: #FBFFFE;
    -fx-border-radius: 25px;
    -fx-border-width: 2px;
    -fx-border-color: #438A7E;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}
